<div class="main">
  <h2>SB-Shop</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed elit ut
    diam elementum sagittis maximus sed mi. Proin posuere justo vitae lacinia
    varius. Ut pellentesque lectus eu hendrerit aliquam. Morbi rhoncus iaculis
    turpis quis consectetur. Nunc interdum eros sed ligula condimentum sodales.
    Praesent sagittis neque nibh, ut tempor ante rutrum mattis. Sed tincidunt,
    odio sed accumsan aliquet, justo lorem posuere mauris, ac lacinia turpis
    dolor ac orci. Curabitur mollis gravida leo, ut dictum nunc rutrum eget.
  </p>

  <p>
    Duis eget venenatis diam. Proin efficitur a massa id vehicula. Phasellus in
    vestibulum nulla, nec rutrum nibh. Nunc a sodales sem. Curabitur tincidunt
    dolor in mollis sodales. Nam luctus sem a libero mollis condimentum.
    Pellentesque sodales libero ex, eget faucibus est dapibus dapibus. Fusce
    tortor lorem, lobortis quis rutrum sed, rhoncus nec nisl. Duis tempus turpis
    nunc. Nulla interdum sagittis turpis ac cursus.
  </p>
  <p>
    Donec tristique felis a nibh suscipit, eu dignissim erat tempor. Praesent eu
    augue efficitur, venenatis eros ut, pellentesque nibh. Phasellus eget arcu
    mattis, fringilla elit ac, vestibulum libero. Ut mollis est vel congue
    pretium. Donec in pulvinar neque. Ut vitae magna ac diam efficitur
    hendrerit. Duis nec felis sit amet sem lacinia pharetra quis gravida ligula.
    Proin egestas non augue ac lobortis. Nullam tincidunt vestibulum urna.
  </p>
  <p>
    Nulla diam nibh, semper at tristique vel, feugiat nec nulla. Mauris
    sollicitudin dui quis metus blandit, eu malesuada massa interdum. Curabitur
    efficitur nibh non convallis ultrices. Aliquam et dictum massa, eget gravida
    dolor. Orci varius natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Suspendisse potenti. Donec bibendum, libero vel
    euismod malesuada, purus turpis laoreet elit, sit amet vulputate purus justo
    ut ipsum. Etiam ultricies odio sed arcu vestibulum bibendum. Sed finibus
    arcu dictum magna mollis, ac sagittis felis pulvinar. Nulla vulputate nibh
    at viverra lobortis.
  </p>
  <p>
    Mauris rutrum suscipit purus, at tristique arcu pellentesque ut.
    Pellentesque ac tellus vehicula, porttitor ligula vitae, interdum nisl.
    Suspendisse vehicula, velit eu faucibus hendrerit, orci erat egestas ligula,
    ut aliquam orci mauris et lacus. Vestibulum ut ipsum ac nibh posuere
    convallis quis vel nisl. Nulla vitae sodales leo. Phasellus laoreet elit et
    nibh consectetur, ac mattis urna pellentesque. Aliquam nec lectus leo.
    Curabitur porttitor egestas magna sit amet blandit. Morbi gravida
    scelerisque augue, vitae sollicitudin mauris molestie eu. Vivamus dictum
    vulputate facilisis. Aliquam quis ultricies felis.
  </p>
  <button (click)="initializeData()">Initialize Data</button>
</div>
