<div class="main">
  <h2>New Client</h2>
  <form (ngSubmit)="submitForm()" #clientForm="ngForm">
    <div>
      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        name="title"
        required
        [(ngModel)]="client.title"
      />
    </div>
    <div>
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        required
        [(ngModel)]="client.name"
      />
    </div>
    <div>
      <label for="surname">Surname:</label>
      <input
        type="text"
        id="surname"
        name="surname"
        required
        [(ngModel)]="client.surname"
      />
    </div>
    <div>
      <label for="dateOfBirth">Date of birth:</label>
      <input
        type="date"
        id="dateOfBirth"
        name="dateOfBirth"
        required
        [(ngModel)]="client.dateOfBirth"
      />
    </div>
    <div class="buttons">
      <button type="button" (click)="cancel()">Cancel</button>
      <button type="submit" [disabled]="!clientForm.form.valid">Submit</button>
    </div>
  </form>
</div>
