<div class="main">
  <h2>Client List</h2>
  <div
    *ngFor="let client of clients"
    [class.active]="client.isActive"
    (click)="toggleClient(client)"
    class="details"
  >
    {{ client.title }} {{ client.name }} {{ client.surname }} ({{
      client.dateOfBirth
    }})
    <div class="buttons" *ngIf="client.isActive">
      <button (click)="navigateToPurchases(client.id)">Purchases</button>
      <button (click)="navigateToAddresses(client.id)">Addresses</button>
    </div>
  </div>
</div>
